{% extends "blogs/base.html" %}
{% load static %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block content %}

    <section class="section">
        <div class="container my-custom-container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper mainbox">
                        <div class="blog-top clearfix">
                            <h4 class="pull-right"><a href="#"><i class="fa fa-rss"></i></a>آخرین اخبار</h4>
                        </div><!-- end blog-top -->

                        <div class="blog-list clearfix">
                            {% for post in posts %}
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="{% static 'blogs' %}/upload/tech_blog_01.jpg" alt=""
                                                     class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="single.html" title="">{{ post.title }}</a>
                                        </h4>
                                        <p>
                                            {{ post.body|slice:225 }} ...
                                        </p>
{#                                        <small class="firstsmall"><a class="bg-green" href="category-01.html" title="">انتخابات</a></small>#}
                                        <small><a href="single.html" title="">{{ post.persian_created_date }}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                                <hr class="invis">
                            {% endfor %}


                        </div><!-- end blog-list -->
                    </div><!-- end page-wrapper -->

                    <hr class="invis">

                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">صفحه بعد</a>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="sidebar">


                        <div class="widget widgetbox">
                            <h2 class="lists_title">آخرین ویدئو ها</h2>
                            <div class="trend-videos">
                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="single.html" title="">
                                            <img src="{% static 'blogs' %}/upload/tech_video_01.jpg" alt=""
                                                 class="img-fluid">
                                            <div class="hovereffect">
                                                <span class="videohover"></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                                        </h4>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="single.html" title="">
                                            <img src="{% static 'blogs' %}/upload/tech_video_02.jpg" alt=""
                                                 class="img-fluid">
                                            <div class="hovereffect">
                                                <span class="videohover"></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                                        </h4>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">

                                <div class="blog-box">
                                    <div class="post-media">
                                        <a href="single.html" title="">
                                            <img src="{% static 'blogs' %}/upload/tech_video_03.jpg" alt=""
                                                 class="img-fluid">
                                            <div class="hovereffect">
                                                <span class="videohover"></span>
                                            </div><!-- end hover -->
                                        </a>
                                    </div><!-- end media -->
                                    <div class="blog-meta">
                                        <h4><a href="single.html" title="">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                                        </h4>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            </div><!-- end videos -->
                        </div><!-- end widget -->

                        <div class="widget widgetbox">
                            <h2 class="lists_title">بازدید های مهم</h2>
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    <a href="single.html"
                                       class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="{% static 'blogs' %}/upload/tech_blog_08.jpg" alt=""
                                                 class="img-fluid float-right">
                                            <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                            <small>16 اسفند 99</small>
                                        </div>
                                    </a>

                                    <a href="single.html"
                                       class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="{% static 'blogs' %}/upload/tech_blog_01.jpg" alt=""
                                                 class="img-fluid float-right">
                                            <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                            <small>16 اسفند 99</small>
                                        </div>
                                    </a>

                                    <a href="single.html"
                                       class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 last-item justify-content-between">
                                            <img src="{% static 'blogs' %}/upload/tech_blog_03.jpg" alt=""
                                                 class="img-fluid float-right">
                                            <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                            <small>16 اسفند 99</small>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->

                        <div class="widget widgetbox">
                            <h2 class="lists_title">آخرین نظرات</h2>
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    <a href="single.html"
                                       class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="{% static 'blogs' %}/upload/tech_blog_02.jpg" alt=""
                                                 class="img-fluid float-right">
                                            <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                            <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                        </div>
                                    </a>

                                    <a href="single.html"
                                       class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="{% static 'blogs' %}/upload/tech_blog_03.jpg" alt=""
                                                 class="img-fluid float-right">
                                            <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                            <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                        </div>
                                    </a>

                                    <a href="single.html"
                                       class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 last-item justify-content-between">
                                            <img src="{% static 'blogs' %}/upload/tech_blog_07.jpg" alt=""
                                                 class="img-fluid float-right">
                                            <h5 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی</h5>
                                            <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->


                        <div class="widget widgetbox">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="{% static 'blogs' %}/upload/banner_03.jpg" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end widget -->
                    </div><!-- end sidebar -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
{% endblock %}
